* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 75px;
}
body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: "Centra", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
  scroll-behavior: smooth;
}
::-webkit-scrollbar-thumb {
  background-color: #9450ff;
  border: 0 solid rgb(179, 151, 151);
  border-radius: 10px;
}
.logo {
  width: 100%;
  height: auto;
}

.banner {
  margin-top: 0;
  height: 100vh;
  padding: 260px 0 100px 0;
  background: url(./assets/banner-bg20.png) repeat top center;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  position: relative;
  color: #fff;
  border-top: 0;
}
.main-text {
  max-width: 617px;
  overflow: hidden;
  font-family: monospace;
}
.main-text h1 {
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.8px;
  font-size: 40px;
  margin-bottom: 4px;
  padding: 3px 4px;
  font-size: 2.8rem;
  white-space: nowrap;
}
.animated-text {
  animation-duration: 2.6s;
  animation-fill-mode: both;
  animation-name: fadeInRight;
}
.animated-text.first {
  animation-timing-function: cubic-bezier(0.65, 0.1, 0.65, 1);
}
.animated-text.second {
  animation-timing-function: cubic-bezier(0.9, 0.1, 0.65, 1);
}
.connect-box {
  padding: 19px 0px 2px 8px;
  overflow: hidden;
  animation-duration: 2.6s;
  animation-fill-mode: both;
  animation-name: fadeInReveal;
}
#fadeInP {
  animation-delay: 2500ms;
  animation-iteration-count: 1;
  animation-name: fadeInReveal;
  animation-fill-mode: both;
  animation-duration: 1000ms;
}
.connect-box button {
  animation-name: fadeInReveal;
  animation-fill-mode: both;
  animation-delay: 3000ms;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
}
.banner p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner img {
  animation: upAndDown 3s linear infinite;
}
.banner button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  display: inline-block;
  position: relative;
  padding: 0.5rem 1.2rem;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  /* display: flex; */
  align-items: center;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #bb99c0;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 20px;
}
.banner button:hover {
  box-shadow: inset 400px 0 0 0 #ffffff;
  color: black;
}

/*  */
.skills {
  padding: 0 0 50px 0;
  position: relative;
  background-image: url(./assets/footer-bg.png);
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s;
  opacity: 1;
  /* -webkit-clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
  clip-path: polygon(0 0,100% 0,100% 80%,0 100%); */
}
/* .skills.scrolled {
  opacity: 1;
} */
.tecks {
  background: #000000;
  border-top-left-radius: 64px;
  border-top: 6px solid #9450ff;
  opacity: 0.9;
  text-align: center;
  padding: 22px 6px;
}
.skill_box {
  background: #151515;
  border-bottom-right-radius: 64px;
  border-bottom-color: #6930c3;
  opacity: 0.9;
  text-align: center;
  padding: 31px 6px;
}
.skills h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  font-family: "Poppins", sans-serif !important;
}
.skills-slider {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.skill_img {
  margin: 0 auto 15px auto;
}
.skill_item {
  text-align: center;
  border-radius: 10px;
  background-color: none;
  border: none;
  padding: 23px;
  margin: 8px 20px 20px 40px;
  transition: all 0.5s ease;
}
.skill_name {
  text-align: center;
}

.skill_item:hover {
  -webkit-box-shadow: 0px 0px 25px 0 #6930c3,
    -6px 10px 0 0 rgba(40, 40, 40, 0.75), -12px 20px 0 0 rgba(45, 45, 45, 0.5);
  box-shadow: 0px 0px 25px 0 #6930c3, -6px 10px 0 0 rgba(40, 40, 40, 0.75),
    -12px 20px 0 0 rgba(45, 45, 45, 0.5);
}
.skill-p {
  padding: 15px;
}
.skills_images {
  width: 95%;
  object-position: center center;
}
.skill_type {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 7px 46px 6px 53px;
  border-top: 6px solid #9450ff;
  border-radius: 15px;
  text-align: center;
  transition: all 0.5s ease;
}
.skill_type:hover {
  box-shadow: 0px 0px 25px 0 #f9f8fa, -6px 10px 0 0 rgba(40, 40, 40, 0.75),
    -12px 20px 0 0 rgba(45, 45, 45, 0.5);
  transform: scale(1.1);
}
.skill_type {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px rgb(255, 255, 255),
    0 0 42px #8d0bc0, 0 0 82px #bc13fe, 0 0 92px #7700a7, 0 0 102px #350149,
    0 0 151px #5a0404;
}

/* ///////////////// */
.projects {
  padding: 0 0 50px 0;
  position: relative;
  background: linear-gradient(
    102.21deg,
    rgb(57 41 81) 13.09%,
    rgb(0 0 0 / 50%) 58.58%
  );
  border-bottom-right-radius: 64px;
  z-index: 0;
  /* background: linear-gradient(90.21deg, rgb(163 9 102 / 50%) -5.91%, rgb(34 20 90 / 50%) 111.58%); */
}

.projects h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  padding: 21px;
  font-family: "Poppins", sans-serif !important;
  border-top-left-radius: 64px;
  border-top: 6px solid #9450ff;
}
.projects p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 1.8px;
  line-height: 1.5em;
  margin: 14px auto 20px auto;
  text-align: center;
  width: 56%;
}
/* .project_card {
  border-radius: 8px;
  box-shadow: 0 16px 60px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-transition: all 0.65s ease;
  transition: all 0.65s ease;
} */
.project_card:hover {
  box-shadow: 0 40px 130px rgba(0, 0, 0, 0.6);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.project-p {
  display: grid;
}
.project-loginInfo {
  padding: 9px 62px 2px 0px;
  color: lightgray;
}
.live_button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  display: inline-block;
  text-decoration: none;
  margin-top: 23px;
  letter-spacing: 0.8px;
  position: relative;
  padding: 0.8rem 1.6rem;
  font-weight: 700;
  line-height: 1;
  z-index: 1;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  align-items: center;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #bb99c0;
  transition: ease-out 0.4s;
}
.live_button:hover {
  box-shadow: inset 400px 0 0 0 #ffffff;
  color: black;
}
a.live_button.s {
  margin-left: 0.5rem;
}
.project-title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.2em;
}
.carousel-control-next,
.carousel-control-prev {
  bottom: auto !important;
  opacity: 0.8 !important;
  top: auto !important;
  width: 65% !important;
  transition: ease-out 0.4s;
}
.carousel-control-prev-icon {
  background-image: url("./assets/seta_prim3.png") !important;
  width: 3rem !important;
  height: 2.5rem !important;
}
.carousel-control-next-icon {
  background-image: url("./assets/seta_prim4.png") !important;
  width: 3rem !important;
  height: 2.5rem !important;
}
.carousel-indicators {
  margin-bottom: -1.8rem !important;
  max-width: 100% !important;
  z-index: 0 !important;
}
.carousel-indicators button {
  background-color: #a15aff !important;
}
#carouselP a span {
  transition: ease-out 0.4s;
}

#carouselP a span:hover {
  transform: scale(1.3);
}
.carusel_item {
  padding-bottom: 4rem;
}
.footer {
  padding: 1.8rem 0;
  /* background: url("./assets/footer-bg.png"); */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 64px;
  background: linear-gradient(
    162.21deg,
    rgb(45 33 63) 38.09%,
    rgb(0 0 0 / 50%) 69.58%
  );
  /* background-color: #1b1b1b; */
  /* background: linear-gradient(173.21deg, #7e4ba5 -57.91%, #1b1b1b 40.58%) */
  /* -webkit-clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
  clip-path: polygon(0 0,100% 0,100% 80%,0 100%); */
}
.contacts--img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 320px;
  pointer-events: none;
  animation: rotate 5s linear infinite;
}
.footer_link {
  color: #fff;
  margin-bottom: 20px;
  font-size: 18px;
  text-decoration: none;
}
.footer_link:hover {
  color: #9450ff;
  transition: 200ms ease-in;
}
.footer_p {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}
.footer-copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 0;
  text-align: center !important;
}
.go_up_button {
  position: fixed;
  width: 100%;
  left: 50%;
  bottom: 40px;
  height: 20px;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  color: green;
}
.top-to-btm {
  position: relative;
}
.icon-position {
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 3%;
  right: 2%;
  z-index: 20;
}
.icon-style {
  border: 2px solid #7e4ba5;
  border-radius: 50%;
  height: 42px;
  width: 42px;
  color: #fff;
  cursor: pointer;
  animation: upAndDown 3s linear infinite;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-style:hover {
  animation: none;
  background: #fff;
  color: #551b54;
  border: 2px solid #551b54;
}
.footer_services {
  display: flex;
  flex-direction: column;
}
.footer_contact_h {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.input-container {
  width: 100%;
}
.footer_h {
  letter-spacing: 4px;
  font-size: 45px;
}
.contacts--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  height: 100%;
}
.contacts-form {
  display: flex;
  flex: 0.6 1;
  width: 100%;
}
.contacts-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
}
.form-input {
  height: 50px;
  box-sizing: border-box;
  border-radius: 50px;
  outline: none;
  margin-bottom: 2rem;
  padding: 0.7rem 0.7rem;
  border-radius: 20px;
  width: 100%;
  resize: none;
}
.input_box {
  color: #eaeaea;
  border: 4px solid #7e4ba5;
  transition: border 0.2s ease-in-out;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #212121;
}
.input_box:focus {
  border: 4px solid #9450ff;
}
.message_box {
  color: #eaeaea;
  border: 4px solid #7e4ba5;
  transition: border 0.2s ease-in-out;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #212121;
}
.message_box:focus {
  border: 4px solid #9450ff;
}
.contacts-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.submit-btn button {
  border: none;
  outline: none;
  width: 140px;
  height: 50px;
  border-radius: 50px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.submitBtn {
  color: #212121;
  transition: 250ms ease-in-out;
  position: unset;
  margin-top: -2rem;

  background-color: #7e4ba5;
  margin: 0 auto;
}
.submitBtn:hover {
  color: #212121;
  transform: scale(1.08);
  background-color: #eaeaea;
}
.submit-btn button p {
  font-size: 18px;
  margin-top: 18px;
  font-family: var(--primaryFont);
}

.submit-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.send-icon {
  font-size: 25px;
  transform-origin: center;
  /* transform: translate(5px,-3px) rotate(-30deg); */
}

.success-icon {
  font-size: 28px;
  transition: all 0.3s 0.8s ease-in-out;
}
.form-message {
  height: 111px;
  box-sizing: border-box;
  border-radius: 50px;
  outline: none;
  margin-bottom: 2rem;
  padding: 0.7rem 0.7rem;
  border-radius: 20px;
  width: 100%;
  resize: none;
}
.input-label {
  background-color: #212121;
  color: #7e4ba5;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 0 5px;
  font-size: 0.9rem;
  transform: translate(25px, 50%);
  display: inline-flex;
}

.page-footer {
  background: linear-gradient(
    65.21deg,
    rgb(34 31 48) 40.09%,
    rgb(37 20 32) 57.58%
  );
}
/* keyframes animations */
@keyframes rotate {
  0% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-20px);
  }
}
@keyframes upAndDown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInReveal {
  0% {
    opacity: 0;
    transform: translate3d(-30px, 0px, 0px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
/* media queries */
@media only screen and (max-width: 768px) {
  .banner h1 {
    font-size: 32px;
    letter-spacing: -3px;
  }
  .banner {
    height: 104vh;
    padding: 78px 0 100px 0;
    background: url(./assets/banner-bg10.png) repeat top center;
  }
  .banner button{
    margin-top: 26px;
  }
  .main-text {
    font-size: 12px !important;
    line-height: 80%;
    margin-top: 100px;
  }
  .connect-box {
    text-align: center;
  }
  nav.navbar a.navbar-brand {
    width: 25%;
  }
  .project-text {
    padding: 10px;
  }
  .skill_img{
    width: 100% !important;
  }
  .carousel-indicators {
    max-width: 35% !important;
    margin-left: 32% !important;
  }
  .carousel-control-next,
  .carousel-control-prev {
    width: 54% !important;
  }
  .contacts--container {
    margin-top: 0rem;
    align-items: center;
  }
  .contacts-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-input {
    height: 39px;
  }
  .form-input {
    margin-bottom: 0.45rem;
  }
  .contacts-form form {
    align-items: flex-end;
  }
  .footer_contact_h {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .submit-btn {
    align-self: center;
  }
  .projects {
    background: linear-gradient(
      94deg,
      rgb(57 41 81) 32.09%,
      rgb(0 0 0 / 50%) 87.58%
    );
  }
  .contacts--img {
    width: 199px;
    opacity: 0.6;
    left: 83px;
  }
  .projects p {
    width: 92%;
  }
}

@media (min-width: 992px) and (max-width: 1380px) {
  .contacts--img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 240px;
  }
  .contacts--container {
    padding: 2rem 4rem;
    width: 90%;
    margin-top: 1rem;
  }
}
